# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.ruff_cache/

# Virtual environments
.venv/
venv/
env/
EnvLaika/

# Secrets
.env
.streamlit/secrets.toml

# Runtime data written by the app
data/
*.pkl
faiss_index/

# Editors and OS
.vscode/
.idea/
.DS_Store
